html {
  font-size: 16px;
  font-family: helvetica;
}

html,
body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  padding: 20px;
}

p {
  padding: 20px;
}

.scrollable {
  overflow-x: scroll;
}

.table {
  width: 950px;
}

.row {
  display: flex;
}

.cell {
  width: 120px;
  padding: 25px 0;
  text-align: center;
  background: #e3e3e3;
  flex-shrink: 0;
  margin: 10px 24px 10px 0;
}

.cell:first-child {
  width: 230px;
}

.blank {
  background: none;
}

.fixed {
  padding: 10px 0;
  background: #3e3e3e;
}

.fixed-text {
  color: white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: sticky;
  left: 0;
}

@media screen and (max-width: 950px) {
  .fixed-text {
    width: 100vw;
  }
}
